@page "/IPDRegisterationDefine/{Id:int?}"

@using Hospital.Application.Commands
@using Hospital.Application.Mapper
@using Hospital.Application.Queries
@using Hospital.Application.Responses
@using Hospital.Application.ViewModels
@using Hospital.Domain.Core.Entities;
@using Hospital.Web.BlazorServer.Models.Auth
@using MediatR
@using System.ComponentModel.DataAnnotations
@inject IMediator mediator
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@attribute [Authorize(Roles = "Super,Admin,Operator")]

<h1>@caption</h1>

<MudGrid Class="mt-2">
    <MudItem md="12">
        <MudPaper Class="p-3" Elevation="10">
            <TelerikForm @ref="form" Model="@iPDRegisteration"
                         OnValidSubmit="@HandleValidSubmit"
                         OnInvalidSubmit="@HandleInvalidSubmit">
                <FormValidation>
                    <DataAnnotationsValidator></DataAnnotationsValidator>

                </FormValidation>
                <FormItems>
                    <TelerikTabStrip @bind-ActiveTabIndex="@ActiveTabIndex" Class="mb-2">
                        <TabStripTab Title="General Information">
                            <MudGrid Spacing="1">
                                <MudItem md="12">
                                    <TelerikButton ButtonType="Telerik.Blazor.ButtonType.Button" OnClick="@NewPatient">Add New Patient</TelerikButton>
                        
                                    <TelerikButton ButtonType="Telerik.Blazor.ButtonType.Button" OnClick="@SearchPatient">Search Patient</TelerikButton>
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Date" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikDatePicker @bind-Value="@iPDRegisteration.Date"
                                                                Format="dddd, dd MMMM, yyyy"
                                                                Id="ipd-date">
                                            </TelerikDatePicker>
                                        </div>
                                    </TelerikFloatingLabel>
                                    <TelerikValidationMessage For="@(() => iPDRegisteration.Date)" />
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Patient" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikMultiColumnComboBox Data="@patients"
                                                                        TextField="@nameof(PatientViewModel.Name)"
                                                                        ValueField="@nameof(PatientViewModel.Id)"
                                                                        Filterable="true"
                                                                        @bind-Value="@iPDRegisteration.PatientId"
                                                                        Id="patient"
                                                                        ListHeight="250px"
                                                                        Placeholder="Hint: You can filter by the Patient Name">
                                                <MultiColumnComboBoxColumns>
                                                    <MultiColumnComboBoxColumn Field="@nameof(PatientViewModel.Name)" Title="Name" Width="200px" />
                                                    <MultiColumnComboBoxColumn Field="@nameof(PatientViewModel.NationalIdCart)" Title="National ID" Width="150px" />
                                                    <MultiColumnComboBoxColumn Field="@nameof(PatientViewModel.FatherName)" Title="Father" Width="150px" />
                                                    <MultiColumnComboBoxColumn Field="@nameof(PatientViewModel.GenderName)" Title="Gender" Width="100px" />
                                                    <MultiColumnComboBoxColumn Field="@nameof(PatientViewModel.Mobile)" Title="Mobile" Width="150px" />
                                                </MultiColumnComboBoxColumns>
                                                <FooterTemplate>
                                                    <span class="combobox-footer k-display-flex k-align-items-center k-justify-content-center">
                                                        Total: @patients.Count() records
                                                    </span>
                                                </FooterTemplate>
                                            </TelerikMultiColumnComboBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                    <TelerikValidationMessage For="@(() => iPDRegisteration.Patient)" />

                            
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Reffer By" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikComboBox @bind-Value="@iPDRegisteration.RefferById"
                                                             Data="@refferBies"
                                                             Placeholder="Select Reffer By"
                                                             TextField="@nameof(RefferByViewModel.Name)"
                                                             ValueField="@nameof(RefferByViewModel.Id)"
                                                             Filterable="true"
                                                             Id="refferBy">
                                            </TelerikComboBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                    <TelerikValidationMessage For="@(() => iPDRegisteration.RefferById)" />
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Total Amount" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikNumericTextBox Placeholder="Total Amount"
                                                                   @bind-Value="@iPDRegisteration.TotalAmount"
                                                                   Format="C"
                                                                   Decimals="0"></TelerikNumericTextBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                    <TelerikValidationMessage For="@(() => iPDRegisteration.TotalAmount)" />
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Total Discount" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikNumericTextBox Placeholder="Total Discount"
                                                                   @bind-Value="@totalDiscount"
                                                                   Format="C"
                                                                   Decimals="0"></TelerikNumericTextBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                </MudItem>
                                <MudItem md="6">
                                    <TelerikFloatingLabel Text="Payable Amount" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikNumericTextBox Placeholder="Payable Amount"
                                                                   @bind-Value="@iPDRegisteration.PayableAmount"
                                                                   Format="C"
                                                                   Decimals="0"></TelerikNumericTextBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                </MudItem>
                                <MudItem md="12" Class="mb-2">
                                    <TelerikFloatingLabel Text="Description" Class="custom-label w-100">
                                        <div class="k-form-field-wrap">
                                            <TelerikTextBox Placeholder="Description"
                                                            @bind-Value="@iPDRegisteration.Description"></TelerikTextBox>
                                        </div>
                                    </TelerikFloatingLabel>
                                </MudItem>
                            </MudGrid>
                        </TabStripTab>
                        <TabStripTab Title="Room(s)">
                            <MudGrid Spacing="1">
                                <MudItem md="12">
                                    <TelerikGrid Data=@iPDRegisterationRooms EditMode="@GridEditMode.Inline"
                                                 Height="300px" Pageable="true" PageSize="5"
                                                 OnDelete=@DeleteRoom OnCreate=@CreateRoom>
                                        <GridToolBar>
                                            <GridCommandButton Command="Add">Add Service</GridCommandButton>
                                        </GridToolBar>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.Date) Title="Date" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var RoomToEdit = context as IPDRegisterationRoomViewModel;
                                                        RoomToEdit.Date=DateTime.Today;

                                                        <TelerikDatePicker @bind-Value="@RoomToEdit.Date"
                                                                       Format="dddd, dd MMMM, yyyy"
                                                                       Id="ipd-room-date">
                                                        </TelerikDatePicker>
                                                        <TelerikValidationMessage For="@(() => RoomToEdit.Date)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.RoomName) Title="Room Name" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var RoomToEdit = context as IPDRegisterationRoomViewModel;
                                                        <TelerikComboBox @bind-Value="@RoomToEdit.RoomId"
                                                                     Data="@rooms"
                                                                     Placeholder="Select Room"
                                                                     TextField="@nameof(RoomViewModel.Name)"
                                                                     ValueField="@nameof(RoomViewModel.Id)"
                                                                     Filterable="true"
                                                                     Id="room">
                                                        </TelerikComboBox>
                                                        <TelerikValidationMessage For="@(() => RoomToEdit.RoomId)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.Days) Title="Days" Editable="true" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var RoomToEdit = context as IPDRegisterationRoomViewModel;
                                                        <TelerikNumericTextBox Placeholder="Days"
                                                                               @bind-Value="@RoomToEdit.Days"
                                                                           Decimals="0"></TelerikNumericTextBox>
                                                        <TelerikValidationMessage For="@(() => RoomToEdit.Days)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.Rate) Title="Rate" Editable="false" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.Amount) Title="Amount" Editable="false" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridColumn Field=@nameof(IPDRegisterationRoomViewModel.Description) Title="Description" Editable="true" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridCommandColumn Title="Action" Width="10vw" HeaderClass="k-text-center">

                                                <GridCommandButton Command="Delete" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Delete</GridCommandButton>
                                                <GridCommandButton Command="Save" ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" ShowInEdit="true">Update</GridCommandButton>
                                                <GridCommandButton Command="Cancel" ShowInEdit="true">Cancel</GridCommandButton>
                                            </GridCommandColumn>
                                        </GridColumns>
                                    </TelerikGrid>
                                </MudItem>
                            </MudGrid>
                        </TabStripTab>
                        <TabStripTab Title="Service(s)">
                            <MudGrid Spacing="1">
                                <MudItem md="12">
                                    <TelerikGrid Data=@iPDRegisterationServices EditMode="@GridEditMode.Inline"
                                                 Height="300px" Pageable="true" PageSize="5"
                                                 OnDelete=@DeleteService OnCreate=@CreateService>
                                        <GridToolBar>
                                            <GridCommandButton Command="Add">Add Room</GridCommandButton>
                                        </GridToolBar>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.Date) Title="Date" Editable="true" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var ServiceToEdit = context as IPDRegisterationServiceViewModel;
                                                        ServiceToEdit.Date = DateTime.Today;

                                                        <TelerikDatePicker @bind-Value="@ServiceToEdit.Date"
                                                                       Format="yyyy-MM-dd"
                                                                       Id="ipd-service-date">
                                                        </TelerikDatePicker>
                                                        <TelerikValidationMessage For="@(() => ServiceToEdit.Date)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.ServiceName) Title="Service Name" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var ServiceToEdit = context as IPDRegisterationServiceViewModel;
                                                        <TelerikComboBox @bind-Value="@ServiceToEdit.ServiceId"
                                                                     Data="@services"
                                                                     Placeholder="Select Service"
                                                                     TextField="@nameof(ServiceViewModel.Name)"
                                                                     ValueField="@nameof(ServiceViewModel.Id)"
                                                                     Filterable="true"
                                                                     Id="service">
                                                        </TelerikComboBox>
                                                        <TelerikValidationMessage For="@(() => ServiceToEdit.ServiceId)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.Quantity) Title="Quantity" Editable="true" Width="5vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var ServiceToEdit = context as IPDRegisterationServiceViewModel;
                                                        <TelerikNumericTextBox Placeholder="Quantity"
                                                                               @bind-Value="@ServiceToEdit.Quantity"
                                                                           Decimals="0"></TelerikNumericTextBox>
                                                        <TelerikValidationMessage For="@(() => ServiceToEdit.Quantity)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.Rate) Title="Rate" Editable="false" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.Discount) Title="Discount" Editable="false" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.StaffName) Title="Staff Name" Editable="true" Width="15vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var ServiceToEdit = context as IPDRegisterationServiceViewModel;
                                                        <TelerikComboBox @bind-Value="@ServiceToEdit.StaffId"
                                                                     Data="@staffs"
                                                                     Placeholder="Select Staff"
                                                                     TextField="@nameof(StaffViewModel.Name)"
                                                                     ValueField="@nameof(StaffViewModel.Id)"
                                                                     Filterable="true"
                                                                     Id="staff">
                                                        </TelerikComboBox>
                                                        <TelerikValidationMessage For="@(() => ServiceToEdit.StaffId)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationServiceViewModel.Amount) Title="Amount" Editable="false" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridCommandColumn Title="Action" Width="10vw" HeaderClass="k-text-center">

                                                <GridCommandButton Command="Delete" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Delete</GridCommandButton>
                                                <GridCommandButton Command="Save" ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" ShowInEdit="true">Update</GridCommandButton>
                                                <GridCommandButton Command="Cancel" ShowInEdit="true">Cancel</GridCommandButton>
                                            </GridCommandColumn>
                                        </GridColumns>
                                    </TelerikGrid>
                                </MudItem>
                            </MudGrid>
                        </TabStripTab>
                        <TabStripTab Title="Payment(s)">
                            <MudGrid Spacing="1">
                                <MudItem md="12">
                                    <TelerikGrid Data=@iPDRegisterationPayments EditMode="@GridEditMode.Inline"
                                                 Height="300px" Pageable="true" PageSize="5"
                                                 OnDelete=@DeletePayment OnCreate=@CreatePayment>
                                        <GridToolBar>
                                            <GridCommandButton Command="Add">Add Payment</GridCommandButton>
                                        </GridToolBar>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(IPDRegisterationPaymentViewModel.Date) Title="Date" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var RoomToEdit = context as IPDRegisterationPaymentViewModel;
                                                        RoomToEdit.Date = DateTime.Today;

                                                        <TelerikDatePicker @bind-Value="@RoomToEdit.Date"
                                                                       Format="dddd, dd MMMM, yyyy"
                                                                       Id="ipd-payment-date">
                                                        </TelerikDatePicker>
                                                        <TelerikValidationMessage For="@(() => RoomToEdit.Date)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationPaymentViewModel.PaymentTypeName) Title="Payment Type" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var PaymentToEdit = context as IPDRegisterationPaymentViewModel;
                                                        <TelerikComboBox @bind-Value="@PaymentToEdit.PaymentTypeId"
                                                                     Data="@paymentTypes"
                                                                     Placeholder="Select Payment Type"
                                                                     TextField="@nameof(BasicInformationViewModel.Name)"
                                                                     ValueField="@nameof(BasicInformationViewModel.Id)"
                                                                     Filterable="true"
                                                                     Id="payment">
                                                        </TelerikComboBox>
                                                        <TelerikValidationMessage For="@(() => PaymentToEdit.PaymentTypeId)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationPaymentViewModel.Amount) Title="Amount" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center">
                                                <EditorTemplate>
                                                    @{
                                                        var PaymentToEdit = context as IPDRegisterationPaymentViewModel;
                                                        <TelerikNumericTextBox Placeholder="Amount"
                                                                               @bind-Value="@PaymentToEdit.Amount"
                                                                               Format="C"
                                                                               Decimals="0"></TelerikNumericTextBox>
                                                        <TelerikValidationMessage For="@(() => PaymentToEdit.Amount)" />
                                                    }
                                                </EditorTemplate>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(IPDRegisterationPaymentViewModel.ChequeNumber) Title="Cheque Number" Editable="true" Width="10vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridColumn Field=@nameof(IPDRegisterationPaymentViewModel.Description) Title="Description" Editable="true" Width="20vw" TextAlign="ColumnTextAlign.Center" HeaderClass="k-text-center" />
                                            <GridCommandColumn Title="Action" Width="10vw" HeaderClass="k-text-center">

                                                <GridCommandButton Command="Delete" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Delete</GridCommandButton>
                                                <GridCommandButton Command="Save" ThemeColor="@ThemeConstants.Button.ThemeColor.Tertiary" ShowInEdit="true">Update</GridCommandButton>
                                                <GridCommandButton Command="Cancel" ShowInEdit="true">Cancel</GridCommandButton>
                                            </GridCommandColumn>
                                        </GridColumns>
                                    </TelerikGrid>
                                </MudItem>
                            </MudGrid>
                        </TabStripTab>
                    </TelerikTabStrip>
                    
                </FormItems>
                <FormButtons>
                    <MudButton Class="mr-2" ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" OnClick="SaveIPDRegisteration">Save</MudButton>
                    <MudButton ButtonType="MudBlazor.ButtonType.Button" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.KeyboardReturn" Href="IPDRegisterations">Return</MudButton>
                </FormButtons>
            </TelerikForm>

        </MudPaper>
    </MudItem>
</MudGrid>

<TelerikWindow Class="demo-window" Width="80vw" Height="80vh" Centered="true" @bind-Visible=@addPatientWindowState Modal="true">
    <WindowTitle>
        <strong>Add Patient</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <PatientDefine Id="0" Mode="Modal" OnPatientAdded="PatientAdded"></PatientDefine>
    </WindowContent>
</TelerikWindow>

<TelerikWindow Class="demo-window" Width="80vw" Height="80vh" Centered="true" @bind-Visible=@searchPatientWindowState Modal="true">
    <WindowTitle>
        <strong>Search Patient</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <Patients Mode="Search" OnPatientSelected="PatientSelected"></Patients>
    </WindowContent>
</TelerikWindow>


@code {
    [Parameter]
    public int? Id { get; set; }
    [CascadingParameter]
    public LoginedUser? userInfo { get; set; }

    public int ActiveTabIndex { get; set; } = 0;
    private string caption = "Add IPD Registeration";
    private IPDRegisterationViewModel iPDRegisteration = new IPDRegisterationViewModel();
    private List<PatientViewModel> patients;
    private List<RefferByViewModel> refferBies;
    private List<BasicInformationViewModel> paymentTypes;
    private List<ServiceViewModel> services;
    private List<StaffViewModel> staffs;
    private List<RoomViewModel> rooms;
    private List<IPDRegisterationServiceViewModel> iPDRegisterationServices = new List<IPDRegisterationServiceViewModel>();
    private List<IPDRegisterationRoomViewModel> iPDRegisterationRooms = new List<IPDRegisterationRoomViewModel>();
    private List<IPDRegisterationPaymentViewModel> iPDRegisterationPayments = new List<IPDRegisterationPaymentViewModel>();

    private bool success;
    TelerikForm form;
    private int totalDiscount = 0;
    private bool addPatientWindowState = false;
    private bool searchPatientWindowState = false;



    protected override async Task OnInitializedAsync()
    {
        patients = await mediator.Send(new GetAllPatientsQuery());
        refferBies = await mediator.Send(new GetAllRefferBiesQuery());
        services = await mediator.Send(new GetAllServicesQuery());
        staffs = await mediator.Send(new GetAllStaffsQuery());
        paymentTypes = await mediator.Send(new GetBasicInformationsByCategoryCodeQuery("PaymentType"));
        rooms = await mediator.Send(new GetAllRoomsQuery());

        iPDRegisteration.Date = DateTime.Now;

        if (Id > 0)
        {
            caption = "Edit IPD Registeration";

            iPDRegisteration = await mediator.Send(new GetIPDRegisterationByIdQuery(Convert.ToInt32(Id)));

            if (iPDRegisteration != null)
            {

                iPDRegisterationRooms = await mediator.Send(new GetIPDRegisterationRoomsByIPDRegisterationIdQuery(iPDRegisteration.Id));
                iPDRegisterationServices = await mediator.Send(new GetIPDRegisterationServicesByIPDRegisterationIdQuery(iPDRegisteration.Id));
                iPDRegisterationPayments = await mediator.Send(new GetIPDRegisterationPaymentsByIPDRegisterationIdQuery(iPDRegisteration.Id));

                foreach (var billService in iPDRegisterationServices)
                {
                    var service = await mediator.Send(new GetServiceByIdQuery(billService.ServiceId ?? 0));

                    if (service != null)
                    {
                        billService.ServiceCode = service.Code;
                        billService.ServiceName = service.Name;
                        billService.Rate = service.OPDRate;
                        if (service.DiscountAmount > 0)
                            billService.Discount = service.DiscountAmount;

                        if (service.DiscountPercentage > 0)
                            billService.Discount = (service.OPDRate * service.DiscountPercentage) / 100;

                        billService.Amount = billService.Quantity * (billService.Rate - billService.Discount);
                    }

                    var staff = await mediator.Send(new GetStaffByIdQuery(billService.StaffId ?? 0));

                    if (staff != null)
                    {
                        billService.StaffCode = staff.Code;
                        billService.StaffName = staff.Name;
                    }


                    CalculateAmount();

                }
            }
        }


    }

    public bool ValidSubmit { get; set; } = false;

    async void HandleValidSubmit()
    {
        ValidSubmit = true;

        await Task.Delay(2000);

        ValidSubmit = false;

        StateHasChanged();
    }

    void HandleInvalidSubmit()
    {
        ValidSubmit = false;
    }

    private async void CreateRoom(GridCommandEventArgs args)
    {
        IPDRegisterationRoomViewModel iPDRoom = (IPDRegisterationRoomViewModel)args.Item;

        var room = await mediator.Send(new GetRoomByIdQuery(iPDRoom.RoomId ?? 0));

        if (room != null)
        {
            iPDRoom.RoomCode = room.Code;
            iPDRoom.RoomName = room.Name;
            iPDRoom.Rate = room.Cost;

            iPDRoom.Amount = iPDRoom.Days * room.Cost;
        }


        iPDRegisterationRooms.Add(iPDRoom);

        CalculateAmount();
        //ProductService.CreateProduct((ProductDto)args.Item);
        //LoadData();
    }

    private void DeleteRoom(GridCommandEventArgs args)
    {

        IPDRegisterationRoomViewModel iPDRoom = (IPDRegisterationRoomViewModel)args.Item;

        iPDRegisterationRooms.Remove(iPDRoom);

        CalculateAmount();
        //ProductService.DeleteProduct((ProductDto)args.Item);
        //LoadData();
    }

    private async void CreateService(GridCommandEventArgs args)
    {
        IPDRegisterationServiceViewModel billService = (IPDRegisterationServiceViewModel)args.Item;

        var service = await mediator.Send(new GetServiceByIdQuery(billService.ServiceId ?? 0));

        if (service != null)
        {
            billService.ServiceCode = service.Code;
            billService.ServiceName = service.Name;
            billService.Rate = service.OPDRate;
            if (service.DiscountAmount > 0)
                billService.Discount = service.DiscountAmount;

            if (service.DiscountPercentage > 0)
                billService.Discount = (service.OPDRate * service.DiscountPercentage) / 100;

            billService.Amount = billService.Quantity * (billService.Rate - billService.Discount);
        }

        var staff = await mediator.Send(new GetStaffByIdQuery(billService.StaffId ?? 0));

        if (staff != null)
        {
            billService.StaffCode = staff.Code;
            billService.StaffName = staff.Name;
        }

        iPDRegisterationServices.Add(billService);

        CalculateAmount();
        //ProductService.CreateProduct((ProductDto)args.Item);
        //LoadData();
    }

    private void DeleteService(GridCommandEventArgs args)
    {

        IPDRegisterationServiceViewModel billService = (IPDRegisterationServiceViewModel)args.Item;

        iPDRegisterationServices.Remove(billService);

        CalculateAmount();
        //ProductService.DeleteProduct((ProductDto)args.Item);
        //LoadData();
    }

    private async void CreatePayment(GridCommandEventArgs args)
    {
        IPDRegisterationPaymentViewModel iPDPayment = (IPDRegisterationPaymentViewModel)args.Item;

        var payment = await mediator.Send(new GetBasicInformationByIdQuery(iPDPayment.PaymentTypeId ?? 0));

        if (payment != null)
        {
            iPDPayment.PaymentTypeCode = payment.Code;
            iPDPayment.PaymentTypeStrCode = payment.StrCode;
            iPDPayment.PaymentTypeName = payment.Name;
            
        }


        iPDRegisterationPayments.Add(iPDPayment);

        CalculateAmount();
        //ProductService.CreateProduct((ProductDto)args.Item);
        //LoadData();
    }

    private void DeletePayment(GridCommandEventArgs args)
    {

        IPDRegisterationPaymentViewModel iPDPayment = (IPDRegisterationPaymentViewModel)args.Item;

        iPDRegisterationPayments.Remove(iPDPayment);

        CalculateAmount();
        //ProductService.DeleteProduct((ProductDto)args.Item);
        //LoadData();
    }

    private async void CalculateAmount()
    {
        var total = iPDRegisterationServices.Sum(b => b.Rate * b.Quantity);
        var payable = iPDRegisterationServices.Sum(b => b.Amount);

        iPDRegisteration.TotalAmount = total;
        iPDRegisteration.PayableAmount = payable;
        totalDiscount = total - payable;
    }

    protected async Task Print()
    {
        if (iPDRegisteration.Id > 0)
        {

            if (iPDRegisteration.Id > 0)
            {
                navManager.NavigateTo("/ReportShow/IPDRegisteration/" + iPDRegisteration.Id.ToString());
            }
        }

    }

    protected async Task NewPatient()
    {
        addPatientWindowState = true;


    }

    protected async Task PatientAdded(int PatientId)
    {
        patients = await mediator.Send(new GetAllPatientsQuery());
        iPDRegisteration.PatientId = PatientId;

        addPatientWindowState = false;
    }

    protected async Task SearchPatient()
    {
        searchPatientWindowState = true;

    }

    protected async Task PatientSelected(int PatientId)
    {
        iPDRegisteration.PatientId = PatientId;

        searchPatientWindowState = false;
    }

    //protected async Task DateOfBirthChange()
    //{
    //    if (IPDRegisteration.Patient.DateOfBirth != null)
    //    {
    //        DateTime dateOfBirth = IPDRegisteration.Patient.DateOfBirth ?? DateTime.Now;
    //        TimeSpan span = DateTime.Now - dateOfBirth;
    //        DateTime age = DateTime.MinValue + span;

    //        // Make adjustment due to MinValue equalling 1/1/1
    //        int years = age.Year - 1;
    //        int months = age.Month - 1;
    //        int days = age.Day - 1;

    //        patientAge = String.Format("{0} Years, {1} Months, {2} Days", years, months, days);
    //    }
    //    else
    //    {
    //        patientAge = "Unknown";
    //    }

    //}

    protected async Task SaveIPDRegisteration()
    {

        if (form.IsValid())
        {

            CommandResponse result;


            if (iPDRegisteration.Id > 0)
            {
                try
                {
                    iPDRegisteration.ModifiedUser = userInfo?.Username;
                    var command = MapperConfig.Mapper.Map<EditIPDRegisterationCommand>(iPDRegisteration);

                    if (command.Id > 0)
                    {
                        result = await mediator.Send(command);

                        if (result.ResultType == ResultType.Success)
                        {
                            Snackbar.Add(result.ResultMessage, Severity.Success);

                            var billServices = await mediator.Send(new GetIPDRegisterationServicesByIPDRegisterationIdQuery(result.Id));

                            foreach (var service in iPDRegisterationServices)
                            {
                                service.IPDRegisterationId = result.Id;
                                if (billServices.Exists(b => b.ServiceId == service.Id))
                                {


                                    var editCommand = MapperConfig.Mapper.Map<EditIPDRegisterationServiceCommand>(service);

                                    await mediator.Send(editCommand);
                                }
                                else
                                {
                                    var addCommand = MapperConfig.Mapper.Map<CreateIPDRegisterationServiceCommand>(service);

                                    await mediator.Send(addCommand);
                                }
                            }

                            foreach (var billService in billServices)
                            {
                                if (!iPDRegisterationServices.Exists(b => b.ServiceId == billService.ServiceId))
                                {
                                    await mediator.Send(new DeleteIPDRegisterationServiceCommand(billService.Id));
                                }

                            }

                            iPDRegisteration.Id = result.Id;

                            bool? dialogResult = await DialogService.ShowMessageBox(
                                "Print",
                                "Do you want to Print؟",
                                yesText: "Yes", cancelText: "No");

                            if (dialogResult == true)
                            {
                                if (result.Id > 0)
                                {
                                    Print();
                                }
                            }
                            else if (Id > 0)
                            {
                                navManager.NavigateTo("IPDRegisterations");
                            }
                        }
                        else if (result.ResultType == ResultType.Warning)
                        {
                            Snackbar.Add(result.ResultMessage, Severity.Warning);
                        }
                        else if (result.ResultType == ResultType.Error)
                        {
                            Snackbar.Add(result.ResultMessage, Severity.Error);
                        }

                    }
                    else
                    {
                        Snackbar.Add("Error in selected IPDRegisteration", Severity.Warning);
                    }
                }
                catch (Exception exp)
                {
                    Snackbar.Add(exp.Message, Severity.Error);
                }
            }
            else
            {
                try
                {
                    iPDRegisteration.CreatedUser = userInfo?.Username;
                    var command = MapperConfig.Mapper.Map<CreateIPDRegisterationCommand>(iPDRegisteration);

                    result = await mediator.Send(command);

                    if (result.ResultType == ResultType.Success)
                    {
                        Snackbar.Add(result.ResultMessage, Severity.Success);
                        var billServices = await mediator.Send(new GetIPDRegisterationServicesByIPDRegisterationIdQuery(result.Id));

                        foreach (var service in iPDRegisterationServices)
                        {
                            service.IPDRegisterationId = result.Id;

                            if (billServices.Exists(b => b.ServiceId == service.Id))
                            {
                                var editCommand = MapperConfig.Mapper.Map<EditIPDRegisterationServiceCommand>(service);

                                await mediator.Send(editCommand);
                            }
                            else
                            {
                                var addCommand = MapperConfig.Mapper.Map<CreateIPDRegisterationServiceCommand>(service);

                                await mediator.Send(addCommand);
                            }
                        }

                        foreach (var billService in billServices)
                        {
                            if (!iPDRegisterationServices.Exists(b => b.ServiceId == billService.ServiceId))
                            {
                                await mediator.Send(new DeleteIPDRegisterationServiceCommand(billService.Id));
                            }

                        }

                        iPDRegisteration.Id = result.Id;

                        bool? dialogResult = await DialogService.ShowMessageBox(
                            "Print",
                            "Do you want to Print؟",
                            yesText: "Yes", cancelText: "No");

                        if (dialogResult == true)
                        {
                            if (result.Id > 0)
                            {
                                Print();
                            }
                        }
                        else if (Id > 0)
                            navManager.NavigateTo("IPDRegisterations");
                    }
                    else if (result.ResultType == ResultType.Warning)
                    {
                        Snackbar.Add(result.ResultMessage, Severity.Warning);
                    }
                    else if (result.ResultType == ResultType.Error)
                    {
                        Snackbar.Add(result.ResultMessage, Severity.Error);
                    }
                }
                catch (Exception exp)
                {
                    Snackbar.Add(exp.Message, Severity.Error);
                }
            }
        }

    }

}

